/* src/components/Layout/Footer/Footer.css */
.footer {
    background-color: var(--theme-black-color)	;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
  }
  
  .footer-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section ul {
    font-size: 1em;
    line-height: 1.6;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 10px 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #aaa;
  }
  
  .footer-logo {
    height: 50px; /* Adjust height as needed */
    margin-bottom: 10px; /* Add some space between the logo and the content */
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    border-top: 1px solid var(--theme-yellow-color);
    margin-top: 20px;
  }
  